# 빌드 산출물
.gradle/
build/
bin/
out/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/
.factorypath
.apt_generated/

# 기타
*.log
.DS_Store
HELP.md

docs/
docs/*.md